<h1>{{ title }}</h1>
<!--<h2>{{ message }}</h2>-->
Nothing here {{'yet ' + name + '!'}}
<a href="/#/instagram" style="padding: 3px; padding-top: 1px; color: #DD2A7B !important;">
  <i class="fa fa-instagram" aria-hidden="true"></i>
</a>
<!--<app-home [parentData]="name" (childEvent)="message=$event"></app-home>-->
<p>Total number of phones: 2</p>
<p>home works!</p>
<h3>{{title}} - Fecha : {{dateToday}}</h3>
<ul>
  <li *ngFor="let phone of phones; index as i; first as f; last as l ">
    <span>#{{i + 1}} {{f}}</span>
    <span>{{phone.name}}</span>
    <p>{{phone.snippet}} {{l}}</p>
  </li>
</ul>
<ul>
  <li *ngFor="let employee of employees; ">
    <span># {{employee.id}}</span>
    <span> {{employee.names}}</span>
    <p>{{employee.last_names}}</p>
  </li>
</ul>
<p><b>{{messageError}}</b></p>
<h5 class="text-success">Saludos a {{saludar('Pepe')}}</h5>
<input [class]="[successClass, 'text-special']" type="text" name="" [disabled]="false" [id]="txtId" value="XD" #myInput>
<h4 [class.text-danger]="hasError">aprendiendo más cosas</h4>
<h4 [ngClass]="messageClass">aprendiendo más cosas</h4>
<h4 [style.color]="hasError ? 'red' : 'green'" [style.fontSize]="'40px'">aprendiendo más cosas</h4>
<h4 [ngStyle]="titleStyles">aprendiendo más cosas</h4>
<button (click)="onClick($event)" class="btn btn-success">Hola {{greeting}}</button>
<button (click)="logMessage(myInput.value)" class="btn btn-warning">Alerta!!!</button>
<button (click)="testConstants()" class="btn btn-info">Constantes</button>
<label *ngIf="displayName; else elseBlock" for="">mensaje de error</label>
<label *ngIf="displayName; then ifBlock; else elseBlock" for="">mensaje de error</label>
<ng-template #ifBlock>
  <h2>este es un bloque condicionalmente visible</h2>
</ng-template>
<ng-template #elseBlock>
  <h2>este es un bloque condicionalmente oculto</h2>
</ng-template>
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">Has escogido color rojo</div>
  <div *ngSwitchCase="'blue'">Has escogido color azul</div>
  <div *ngSwitchCase="'green'">Has escogido color verde</div>
</div>
<label for="">Parent Data {{'parentData'}}</label><br>
<button class="btn btn-primary" (click)="sendParentOutput('saludos')">enviar al padre</button><br>
<input type="text" [(ngModel)]="name" name="" id="">{{name}}
